.footer{
    background-color: rgba(0, 0, 0, .99);
    height: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}